################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
legacy/
/legacy/
/packages
/FriishProduce/langs/_source.json
/FriishProduce/langs/crowdin
/FriishProduce/CCF
