################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
images/
/images/
legacy/
/legacy/
/packages

/VCManualCreator
/FriishProduce_v2.0
/FriishProduce/Data
/FriishProduce/Emanuals
/FriishProduce/Resources/bg_0.png
/FriishProduce/Resources/bg_1.pdn
/FriishProduce/Strings/ja.json
