################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
images/
/images/
legacy/
/legacy/
/packages

/FriishProduce/langs/_source.json
/FriishProduce/langs/crowdin
/FriishProduce/Data
/FriishProduce/Database_Test.xml
/FriishProduce/Emanuals
/VCManualCreator
/FriishProduce_v2.0
/FriishProduce/Resources/bg_0.png
/FriishProduce/Resources/bg_1.pdn
/FriishProduce/Resources/logo.pdn
