<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FriishProduce.Options.FORWARDER" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FriishProduce.Options.VC_NEO" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FriishProduce.Options.VC_NES" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FriishProduce.Options.SEGA" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FriishProduce.Options.N64" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FriishProduce.Settings.PCE" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FriishProduce.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FriishProduce.Options.FORWARDER>
            <setting name="root_storage_device" serializeAs="String">
                <value>sd</value>
            </setting>
            <setting name="nand_loader" serializeAs="String">
                <value>wii</value>
            </setting>
        </FriishProduce.Options.FORWARDER>
        <FriishProduce.Options.VC_NEO>
            <setting name="bios" serializeAs="String">
                <value>VC2</value>
            </setting>
            <setting name="bios_path" serializeAs="String">
                <value />
            </setting>
        </FriishProduce.Options.VC_NEO>
        <FriishProduce.Options.VC_NES>
            <setting name="palette" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="palette_use_on_banner" serializeAs="String">
                <value>1</value>
            </setting>
        </FriishProduce.Options.VC_NES>
        <FriishProduce.Options.SEGA>
            <setting name="console_brightness" serializeAs="String">
                <value>87</value>
            </setting>
            <setting name="console_disableresetbutton" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="country" serializeAs="String">
                <value>us</value>
            </setting>
            <setting name="dev_mdpad_enable_6b" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="save_sram" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nplayers" serializeAs="String">
                <value />
            </setting>
            <setting name="machine_md_use_4ptap" serializeAs="String">
                <value />
            </setting>
        </FriishProduce.Options.SEGA>
        <FriishProduce.Options.N64>
            <setting name="romc_type0" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="patch_fixbrightness" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="patch_fixcrashes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="patch_expandedram" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="patch_autosizerom" serializeAs="String">
                <value>True</value>
            </setting>
        </FriishProduce.Options.N64>
        <FriishProduce.Settings.PCE>
            <setting name="BACKUPRAM" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PADBUTTON" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="EUROPE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SGENABLE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HIDEOVERSCAN" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="YOFFSET" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RASTER" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SPRLINE" serializeAs="String">
                <value>0</value>
            </setting>
        </FriishProduce.Settings.PCE>
        <FriishProduce.Properties.Settings>
            <setting name="UI_Language" serializeAs="String">
                <value>sys</value>
            </setting>
            <setting name="ImageInterpolation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoLibRetro" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Default_N64_FixBrightness" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Default_N64_FixCrashes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Default_N64_ExtendedRAM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Default_N64_AllocateROM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Default_N64_ROMC0" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoNotShow_000" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImageFitAspectRatio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoNotShow_Welcome" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Default_Forwarders_FilesStorage" serializeAs="String">
                <value>SD</value>
            </setting>
            <setting name="Default_Forwarders_Mode" serializeAs="String">
                <value>Wii</value>
            </setting>
            <setting name="Default_NEO_BIOS" serializeAs="String">
                <value>VC2</value>
            </setting>
            <setting name="Default_SEGA_6B" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Default_NES_Palette" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Default_NES_UsePaletteForBanner" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Default_SEGA_SRAM" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Default_SEGA_Brightness" serializeAs="String">
                <value>87</value>
            </setting>
            <setting name="Default_SEGA_Region" serializeAs="String">
                <value>us</value>
            </setting>
            <setting name="Default_PCE_Europe" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Default_PCE_SuperGrafx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Default_PCE_Pad" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Default_PCE_YOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Default_PCE_SpriteLimit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Default_PCE_HideOverscan" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Default_PCE_BGRaster" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Default_PCE_BackupRAM" serializeAs="String">
                <value>0</value>
            </setting>
        </FriishProduce.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
