<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FriishProduce.Options.VC_N64" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="FriishProduce.Options.VC_PCE" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="FriishProduce.Options.ADOBEFLASH" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="FriishProduce.Options.VC_SEGA" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="FriishProduce.Options.FORWARDER" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="FriishProduce.Options.VC_NEO" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="FriishProduce.Options.VC_NES" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="FriishProduce.Options.SEGA" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="FriishProduce.Options.N64" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="FriishProduce.Settings.PCE" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="FriishProduce.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <FriishProduce.Options.VC_N64>
      <setting name="romc_type" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="patch_fixbrightness" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="patch_fixcrashes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="patch_expandedram" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="patch_autosizerom" serializeAs="String">
        <value>False</value>
      </setting>
    </FriishProduce.Options.VC_N64>
    <FriishProduce.Options.VC_PCE>
      <setting name="BACKUPRAM" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PADBUTTON" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="EUROPE" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SGENABLE" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HIDEOVERSCAN" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="YOFFSET" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RASTER" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SPRLINE" serializeAs="String">
        <value>0</value>
      </setting>
    </FriishProduce.Options.VC_PCE>
    <FriishProduce.Options.ADOBEFLASH>
      <setting name="mouse" serializeAs="String">
        <value>on</value>
      </setting>
      <setting name="qwerty_keyboard" serializeAs="String">
        <value>on</value>
      </setting>
      <setting name="quality" serializeAs="String">
        <value>high</value>
      </setting>
      <setting name="shared_object_capability" serializeAs="String">
        <value>off</value>
      </setting>
      <setting name="vff_cache_size" serializeAs="String">
        <value>96</value>
      </setting>
      <setting name="vff_sync_on_write" serializeAs="String">
        <value>off</value>
      </setting>
      <setting name="hbm_no_save" serializeAs="String">
        <value>yes</value>
      </setting>
      <setting name="strap_reminder" serializeAs="String">
        <value>none</value>
      </setting>
      <setting name="midi" serializeAs="String">
        <value>off</value>
      </setting>
    </FriishProduce.Options.ADOBEFLASH>
    <FriishProduce.Options.VC_SEGA>
      <setting name="console_brightness" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="console_disableresetbutton" serializeAs="String">
        <value />
      </setting>
      <setting name="country" serializeAs="String">
        <value>us</value>
      </setting>
      <setting name="dev_mdpad_enable_6b" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="save_sram" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="nplayers" serializeAs="String">
        <value />
      </setting>
      <setting name="machine_md_use_4ptap" serializeAs="String">
        <value />
      </setting>
    </FriishProduce.Options.VC_SEGA>
    <FriishProduce.Options.FORWARDER>
      <setting name="root_storage_device" serializeAs="String">
        <value>sd</value>
      </setting>
      <setting name="nand_loader" serializeAs="String">
        <value>wii</value>
      </setting>
    </FriishProduce.Options.FORWARDER>
    <FriishProduce.Options.VC_NEO>
      <setting name="bios" serializeAs="String">
        <value>VC2</value>
      </setting>
    </FriishProduce.Options.VC_NEO>
    <FriishProduce.Options.VC_NES>
      <setting name="palette" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="palette_use_on_banner" serializeAs="String">
        <value>True</value>
      </setting>
    </FriishProduce.Options.VC_NES>
    <FriishProduce.Options.SEGA>
      <setting name="console_brightness" serializeAs="String">
        <value>87</value>
      </setting>
      <setting name="console_disableresetbutton" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="country" serializeAs="String">
        <value>us</value>
      </setting>
      <setting name="dev_mdpad_enable_6b" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="save_sram" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="nplayers" serializeAs="String">
        <value />
      </setting>
      <setting name="machine_md_use_4ptap" serializeAs="String">
        <value />
      </setting>
    </FriishProduce.Options.SEGA>
    <FriishProduce.Options.N64>
      <setting name="romc_type0" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="patch_fixbrightness" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="patch_fixcrashes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="patch_expandedram" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="patch_autosizerom" serializeAs="String">
        <value>True</value>
      </setting>
    </FriishProduce.Options.N64>
    <FriishProduce.Settings.PCE>
      <setting name="BACKUPRAM" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PADBUTTON" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="EUROPE" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SGENABLE" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HIDEOVERSCAN" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="YOFFSET" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RASTER" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SPRLINE" serializeAs="String">
        <value>0</value>
      </setting>
    </FriishProduce.Settings.PCE>
    <FriishProduce.Properties.Settings>
      <setting name="language" serializeAs="String">
        <value>sys</value>
      </setting>
      <setting name="image_interpolation" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="auto_retrieve_game_data" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="donotshow_000" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="image_fit_aspect_ratio" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="donotshow_welcome" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="link_save_data" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="gamedata_source_image" serializeAs="String">
        <value>0</value>
      </setting>
    </FriishProduce.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
	  <probing privatePath="libraries;libs;resources\libraries;resources\libs;lib;resources\lib" />
    </assemblyBinding>
  </runtime>
</configuration>
