:root {
	/* --md-text-font: -apple-system,".SFNSText-Regular","San Francisco","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif; */
	--md-code-font: Monaco, Consolas, "Lucida Console", monospace;
}

html {
	font-size: 1.4em;
}

.md-grid {
    max-width: initial;
	padding: 0 16.25%;
}

.md-typeset {
	line-height: 1.75;
}

.md-typeset code {
	border-radius: .2rem;
	padding: .15em .3em;
	border: 1px solid #585d66;
}

.md-typeset a {
	color: var(--md-typeset-a-color);
	text-decoration: underline;
}

.md-typeset .admonition,
.md-typeset details {
	border-width: 0;
	/* border-radius: .3rem; */
	border-left-width: .25rem;
	font-size: 87.5%;
	font-weight: 500;
	line-height: 1.475;
	margin: 1.25em 0;
	/* padding: 0 .5rem; */
	box-shadow: 0 .05rem .1rem rgba(28,28,28,0.5);
}

/* ------------------------------------------------------------ */
/* ---------------------- Color settings ---------------------- */
/* ------------------------------------------------------------ */

:root, [data-md-color-scheme="slate"] {
	--md-footer-bg-color--dark:		#1c212b;
	--md-default-bg-color:			#262b35;
	--md-default-bg-color--light:	#2e3440;
	--md-default-fg-color:			#d8dee9;
	--md-typeset-a-color:			#a0c0df;
	--md-primary-bg-color:			var(--md-default-fg-color);
	--md-primary-fg-color:			#d8dee91a;
	--md-accent-bg-color:			var(--md-default-fg-color);
	--md-accent-fg-color:			#5999d7;
	--md-footer-bg-color:			var(--md-default-bg-color);
}

[data-md-color-scheme="slate"] .md-header {
	background-color: var(--md-default-bg-color--light);
	color: var(--md-default-fg-color);
}

[data-md-color-scheme="slate"] .md-tabs {
	background-color: var(--md-default-bg-color--light);
	color: var(--md-default-fg-color);
	border-bottom: .05rem solid #585d666a;
}

/* .md-typeset .admonition-title, .md-typeset summary, .md-typeset details {
	font-weight: normal;
} */

:root, [data-md-color-scheme="default"] {
	--alpha:					0.33;
	--md-info-bg-color:			94, 129, 172;
	--md-note-bg-color:			110, 119, 129;
	--md-warning-bg-color:		208, 145, 112;
	--md-danger-bg-color:		191, 97, 106;
	--md-success-bg-color:		163, 190, 140;
	--md-tip-bg-color:			136, 192, 208;
	--md-admonition-fg-color:	var(--md-default-fg-color);
}

/* ------------------------------------------------------------ */
/* ----------------- Admonition color schemes ----------------- */
/* ------------------------------------------------------------ */

.md-typeset .admonition.warning, .md-typeset summary.warning, .md-typeset details.warning,
.md-typeset .warning > .admonition-title, .md-typeset .warning > summary {
	background-color: rgba(var(--md-warning-bg-color), var(--alpha));
	border-color: rgb(var(--md-warning-bg-color));
	color: var(--md-admonition-fg-color);
}

.md-typeset .warning > .admonition-title::before, .md-typeset .warning > summary::before {
	background-color: rgb(var(--md-warning-bg-color));
}

.md-typeset .admonition.danger, .md-typeset summary.danger, .md-typeset details.danger,
.md-typeset .danger > .admonition-title, .md-typeset .danger > summary {
	background-color: rgba(var(--md-danger-bg-color), var(--alpha));
	border-color: rgb(var(--md-danger-bg-color));
	color: var(--md-admonition-fg-color);
}

.md-typeset .danger > .admonition-title::before, .md-typeset .danger > summary::before {
	background-color: rgb(var(--md-danger-bg-color));
}

.md-typeset .admonition.info, .md-typeset summary.info, .md-typeset details.info,
.md-typeset .info > .admonition-title, .md-typeset .info > summary {
	background-color: rgba(var(--md-info-bg-color), var(--alpha));
	border-color: rgb(var(--md-info-bg-color));
	color: var(--md-admonition-fg-color);
}

.md-typeset .info > .admonition-title::before, .md-typeset .info > summary::before {
	background-color: rgb(var(--md-info-bg-color));
}

.md-typeset .admonition.note, .md-typeset summary.note, .md-typeset details.note,
.md-typeset .note > .admonition-title, .md-typeset .note > summary {
	background-color: rgba(var(--md-note-bg-color), var(--alpha));
	border-color: rgb(var(--md-note-bg-color));
	color: var(--md-admonition-fg-color);
}
	
.md-typeset .note > .admonition-title::before, .md-typeset .note > summary::before {
	background-color: rgb(var(--md-note-bg-color));
}

.md-typeset .admonition.tip, .md-typeset summary.tip, .md-typeset details.tip,
.md-typeset .tip > .admonition-title, .md-typeset .tip > summary {
	background-color: rgba(var(--md-tip-bg-color), var(--alpha));
	border-color: rgb(var(--md-tip-bg-color));
	color: var(--md-admonition-fg-color);
}

.md-typeset .tip > .admonition-title::before, .md-typeset .tip > summary::before {
	background-color: rgb(var(--md-tip-bg-color));
}

.md-typeset .admonition.success, .md-typeset summary.success, .md-typeset details.success,
.md-typeset .success > .admonition-title, .md-typeset .success > summary {
	background-color: rgba(var(--md-success-bg-color), var(--alpha));
	border-color: rgb(var(--md-success-bg-color));
	color: var(--md-admonition-fg-color);
}

.md-typeset .success > .admonition-title::before, .md-typeset .success > summary::before {
	background-color: rgb(var(--md-success-bg-color));
}